{% extends 'base/uploadData/uploadHeader.html' %} {% block content %}

<div class="title">
  <h1>Upload Final Pack</h1>
</div>
<div class="wrapper">
  <div class="row">
    <div class="col-xl-12 col-md-12">
      <div id="formContent">
        <div class="card">
          <div class="card-header">
            Upload
          </div>
          <div class="card-body">
            <h5 class="card-title">- Final Report and Analysis data-</h5>
            <a
              type="button"
              data-toggle="modal"
              href="{% url 'upload'  %}"
              class="btn"
              >Upload Data</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
