{% extends 'base/uploadData/uploadHeader.html' %} {% block content %}

<div class="title">
  <h1>Upload Final Pack</h1>
</div>
<div class="wrapper">
  <div class="row">
    <div class="col-xl-4 col-md-12">
      <div id="formContent">
        <div class="card">
          <div class="card-header">
            Add account
          </div>
          <div class="card-body">
            <h5 class="card-title">-Name of the account:</h5>
            <a
              type="button"
              data-toggle="modal"
              href="{% url 'upload'  %}"
              class="btn"
              >Next Step</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-12">
      <div id="formContent">
        <div class="card">
          <div class="card-header">
            Upload
          </div>
          <div class="card-body">
            <h5 class="card-title">- Final Report and Analysis data-</h5>
            <a
              type="button"
              data-toggle="modal"
              href="{% url 'upload'  %}"
              class="btn"
              >Upload Data</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-12">
      <div id="formContent">
        <div class="card">
          <div class="card-header">
            Confirm Products
          </div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <a
              type="button"
              data-toggle="modal"
              href="{% url 'upload'  %}"
              class="btn"
              >Confirm</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="breadcrumb-pagination">
      <div class="completed">
        <span></span>
        <p>Items in order</p>
      </div>

      <div class="active">
        <span>2</span>
        <p>Customer information</p>
      </div>

      <div class="todo">
        <span>3</span>
        <p>Shipping</p>
      </div>
    </div>

    <div class="col-xl-6 col-md-12">
      <div id="formContent">
        <div class="card">
          <div class="card-header">
            Add notes
          </div>
          <div class="card-body">
            <h5 class="card-title">-Name of the product</h5>
            <a
              type="button"
              data-toggle="modal"
              href="{% url 'upload'  %}"
              class="btn"
              >Next Step</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-12">
      <div id="formContent">
        <div class="card">
          <div class="card-header">
            Confirm display
          </div>
          <div class="card-body">
            <h5 class="card-title">Display shown</h5>
            <a
              type="button"
              data-toggle="modal"
              href="{% url 'upload'  %}"
              class="btn"
              >Upload Data</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
