{% extends 'base/base.html' %} {% block sidenav %} {% load static %}

<!--SideNav-->

<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Main</div>
          <a class="box nav-link" href="{% url 'home'  %}"
            ><div class="sb-nav-link-icon">
              <i class="fas fa-tachometer-alt"></i>
            </div>
            Summary</a
          >

          <div class="sb-sidenav-menu-heading">Detailed Deployment</div>

          <a
            class="box nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapsePages"
            aria-expanded="false"
            aria-controls="collapsePages"
            ><div class="sb-nav-link-icon">
              <i class="far fa-hdd"></i>
            </div>
            Backup
            <div class="sb-sidenav-collapse-arrow">
              <i class="fas fa-angle-down"></i></div
          ></a>
          <div
            class="collapse"
            id="collapsePages"
            aria-labelledby="headingTwo"
            data-parent="#sidenavAccordion"
          >
            <nav
              class="sb-sidenav-menu-nested nav accordion"
              id="sidenavAccordionPages"
            >
              <a
                class="nav-link collapsed"
                href="#"
                data-toggle="collapse"
                data-target="#pagesCollapseAuth"
                aria-expanded="false"
                aria-controls="pagesCollapseAuth"
                >File library
              </a>
              <a
                class="nav-link collapsed"
                href="#"
                data-toggle="collapse"
                data-target="#pagesCollapseAuth"
                aria-expanded="false"
                aria-controls="pagesCollapseAuth"
                >DiskStore
              </a>
              <a
                class="nav-link collapsed"
                href="#"
                data-toggle="collapse"
                data-target="#pagesCollapseAuth"
                aria-expanded="false"
                aria-controls="pagesCollapseAuth"
                >VTL
              </a>
            </nav>
          </div>
          <a
            class="box nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseLayouts"
            aria-expanded="false"
            aria-controls="collapseLayouts"
            ><div class="sb-nav-link-icon">
              <i class="fas fa-columns"></i>
            </div>
            Stores
            <div class="sb-sidenav-collapse-arrow">
              <i class="fas fa-angle-down"></i></div
          ></a>
          <div
            class="collapse"
            id="collapseLayouts"
            aria-labelledby="headingOne"
            data-parent="#sidenavAccordion"
          >
            <nav class="sb-sidenav-menu-nested nav">
              <a class="nav-link" href="layout-static.html">D2D</a
              ><a class="nav-link" href="layout-sidenav-light.html"
                >StoreOnce</a
              >
            </nav>
          </div>
          <div class="sb-sidenav-menu-heading">Detailed analysis</div>
          <a class="box nav-link" href="charts.html"
            ><div class="sb-nav-link-icon">
              <i class="fas fa-chart-area"></i>
            </div>
            ESX Hosts</a
          ><a class="box nav-link" href="tables.html"
            ><div class="sb-nav-link-icon">
              <i class="fas fa-table"></i>
            </div>
            Online Backup</a
          >
        </div>
      </div>
      <button class="export">Export report</button>

      <div class="sb-sidenav-footer">
        <div class="small"></div>
        <img class="logo-78s" src="{% static '/images/78s.png' %}" />
      </div>
    </nav>
  </div>
  {% endblock %}
</div>
