{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <button id="button" type="GET"></button>

    <script>
      $("#button").click(function () {
        $.get("dp", function (data) {
          alert("Data: " + data);
        });
      });
    </script>
  </body>
</html>
