{% load static %}
<script>
  function uploading(val) {
    document.getElementById(val.toString()).src =
      "{% static '/images/loading.gif' %}";

    setTimeout(function () {
      document.getElementById(val).src = "{% static '/images/complete2.png' %}";
    }, 2000);
  }
</script>
<div
  class="modal fade"
  id="LVQupload"
  tabindex="-1"
  role="dialog"
  aria-labelledby="LVQuploadLabel"
>
  <div class="modal-dialog" role="document">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="false">&times;</span>
    </button>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="LVQuploadLabel">LVQ</h4>
      </div>
      <div class="modal-body">
        <img
          class="img-responsive"
          id="upload"
          src="{% static '/images/upload.gif' %}"
        />
      </div>
      <div class="modal-footer">
        <div class="modalBtns">
          <a type="button" class="btn">Browse</a>
          <a type="button" class="btn close" onclick="uploading('upload');"
            >Finish upload</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="OutputsUpload"
  tabindex="-1"
  role="dialog"
  aria-labelledby="OutputsUploadLabel"
>
  <div class="modal-dialog" role="document">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="OutputsUploadLabel">OUTPUTS</h4>
      </div>
      <div class="modal-body">
        <img
          class="img-responsive"
          id="upload2"
          src="{% static '/images/upload.gif' %}"
        />
      </div>
      <div class="modal-footer">
        <div class="modalBtns">
          <a type="button" class="btn">Browse</a>
          <a
            type="button"
            class="btn close"
            value="upload2"
            onclick="uploading('upload2')"
            >Finish upload</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="ScreenshotsUpload"
  tabindex="-1"
  role="dialog"
  aria-labelledby="ScreenshotsUploadLabel"
>
  <div class="modal-dialog" role="document">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="ScreenshotsUploadLabel">SCREENSHOTS</h4>
      </div>
      <div class="modal-body">
        <img
          class="img-responsive"
          id="upload3"
          src="{% static '/images/upload.gif' %}"
        />
      </div>
      <div class="modal-footer">
        <div class="modalBtns">
          <a type="button" class="btn">Browse</a>
          <a
            type="button"
            class="btn close"
            value="upload3"
            onclick="uploading('upload3')"
            >Finish upload</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
