{% extends 'base/uploadData/uploadHeader.html' %} {% block content %}

{% load static %}

    <div class="title">
    <h1>Welcome</h1>

    </div>
    
    <div class="wrapper">
        <div class="row">
          <!--CARDS-->
          <div class="col-xl-6 col-md-6"><div id="formContent"> 
            
            <div class="card">
              <div class="card-header">
                Download
              </div>
              <div class="card-body">
                <h5 class="card-title">- Data Collection-</h5>
                <p class="card-text">
                  Here you can have more information on how the Data Collection process should look like&nbsp; <a type="button" data-toggle="modal" data-target="#LVQ"> here</a>
                </p>
                <a type="button" data-toggle="modal" data-target="#Download" class="btn">Download Data Collection</a>
              </div>
            </div>
          </div></div>


          <div class="col-xl-6 col-md-6"><div id="formContent">
          
            <div class="card">
              <div class="card-header">
                Upload
              </div>
              <div class="card-body">
                <h5 class="card-title">- Upload filled Data Collection -</h5>
                <p class="card-text">
                  To make sure we have all the data we need, You can check here&nbsp;<a type="button" data-toggle="modal" data-target="#Outputs"> here</a>
                </p>
                <a type="button" data-toggle="modal" href="{% url 'upload'  %}" class="btn ">Upload Data</a>
              </div>
            </div>
          </div>
          </div>

          
            <!--END CARDS-->
          </div>
      </div>

    </div>
    <img class="logo-78s" src="{% static '/images/78s.png' %}" />


      <!-- Modal -->
{% include "base/uploadData/details.html" %}
{% include "base/uploadData/download.html" %}

     

    
    {% endblock %}
 